[Unit]
Description=GPS based POI warner
Requires=gpsd.service
After=multi-user.target gpsd.service
 
[Service]
Type=simple
User=chip
Group=chip
ExecStart=/usr/bin/python /home/chip/tools-car/gpsData.py
WorkingDirectory=/home/chip/tools-car
StandardOutput=null
StandardError=null
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
